$appName:         "linuxdo-next";
$pluginContainer: #{$appName}-container;
$pandoraButton:   #{$appName}-pandora-button;

:export {
  appName:         $appName;
  pluginContainer: $pluginContainer;
  pandoraButton:  $pandoraButton;
}
